/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

/* General App Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  overflow-x: hidden;
}

.app {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: white;
}

/* Video Component */
.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: -1;
}

.background-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

/* Main Content */
.main-content {
  text-align: center;
  margin-top: 30vh;
}

.rating {
  margin-bottom: 20px;
  font-size: 1.2em;
  font-weight: 600;
}

h1 {
  font-size: 3.5em;
  font-weight: 200;
  margin-bottom: 20px;
}

.cta-buttons {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.cta-button-red {
  background-color: rgba(255, 0, 0, 0.7);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1em;
  font-weight: 600;
  cursor: pointer;
}

.cta-button-red:hover {
  background-color: rgba(202, 0, 0, 0.986);
  color: lightgray;
  box-shadow: 0 0 10px 5px rgba(255, 255, 0, 0.7);
}

.cta-button-white {
  background-color: rgba(10, 10, 10, 0.815);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1em;
  font-weight: 600;
  cursor: pointer;
}

.cta-button-white:hover {
  background-color: white;
  color: black;
  box-shadow: 0 0 10px 5px rgb(255, 255, 0);
}

.cta-button-red:hover,
.cta-button-white:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
