/* Navbar Styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;  /* Adjusted to be flexible */
    max-width: 1200px;  /* Sets a maximum width for larger screens */
    padding: 15px 10px;
    position: fixed;  /* Fixed position to stay on top during scroll */
    top: 25px;
    left: 50%;  /* Centers the navbar */
    transform: translateX(-50%);  /* Horizontal centering */
    background-color: rgba(49, 47, 47, 0.788);
    border-radius: 15px;
    box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.15);
    z-index: 10;
    transition: all 0.3s ease-in-out;
}

.logo {
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
    font-size: 1.2em;
    /* font-weight: 700; */
    color: white;
    margin-right: 10px;
    cursor: pointer;
}

.nav-links {
    display: flex;
    gap: 13px;
    list-style: none;
    align-items: center;
}

.nav-links li {
    color: white;
    cursor: pointer;
    font-size: 0.85em;
    padding: 6px 10px;
    transition: all 0.3s ease;
    border-radius: 5px;
}

.nav-links li:hover {
    background-color: rgba(221, 214, 214, 0.521);
    color: black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
}

.call-button {
    background-color: #F34427;
    padding: 6px 10px;
    border-radius: 20px;
    color: white;
    display: flex;
    align-items: center;
    font-size: 0.85em;
    transition: all 0.3s ease;
}

.call-button svg {
    margin-right: 5px;
}

.call-button:hover {
    background-color: #f34627c5;
    color: black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
}

